**.DS_Store**
**.mxML
**.mzml
**.d
results
.mypy_cache
rust*
.pytest_cache
**/tmp
**NIST**/
**vscode
venv
**.ipynb_checkpoints
**.ipynb
raw_files/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Sphinx documentation
docs/_build/

#Raw 
